.footer {
  background-color:#0070A0;
  width: 100%;
  height: 64px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
}
.rs {
    width: 60px;
}
.git {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 4px;
    color: white;
}