.registration {
  background-image: url('./../../assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  min-height: calc(100vh - 128px);
  width: 550px;
  justify-content: center;
  align-items: center;
  @media (max-width: 599px) {
    min-height: calc(100vh - 120px);
    width: 93vw;
  }
}
.formButton {
  width: 150px;
  height: 35px;
  @media (max-width: 599px) {
    height: 30px;
    width: 130px;
  }
}
input[type='file'] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 7px;
  left: 17px;
  right: 0;
  bottom: 0;
  opacity: 0;
}